/* ===== HERO SECTION ===== */
/*#hero {
  position: relative;
}

.hero-swiper .swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}*/

.hero-swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.6;
}

.hero-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #00b2a9;
}

/* Ajuste de logo y texto en móviles */
@media (max-width: 768px) {
  #hero h1 {
    font-size: 1.75rem;
  }
  #hero img {
    height: 3.5rem;
  }
}

/* ===== Cbotones del slider ===== */
.hero-swiper .swiper-pagination-bullet {
  width: 28px;
  height: 28px;
   margin: 0 6px !important;
  background: transparent;         /* Centro transparente */
  border: 4px solid #ffffff;       /* Borde blanco */
  border-radius: 50%;              /* Forma redonda perfecta */
  opacity: 1;                      /* Asegura visibilidad */
  transition: all 0.3s ease;
  box-sizing: border-box;    
}

.hero-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff; /* o tu color corporativo */
}

.slide-2-img {
  transform: scale(0.9);
  transform-origin: center;
}