/* ===== Ecosystem Section ===== */

#ecosystem {
    background-color: lab(96.41% 1 0.34);
}
 .eco-row {
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    align-items: flex-start !important; /* sube todo el contenido */
  }

  .eco-row img {
    margin: 0 !important;
    padding: 0 !important;
  }

  .eco-row h3,
  .eco-row ul {
    margin-top: 0 !important;
    margin-bottom: 0.25rem !important;
  }

/* ===== Franja redondeada ===== */
.ecosystem-banner {
  position: relative;
  width: 75%;                     /* ocupa todo el ancho del contenedor padre */
  max-width: 2600px;
  height: 55px;                    /* más delgada */
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.6rem;               /* texto más grande */
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  margin-left: 32%; 


  /* Degradado: inicia azul oscuro y se disuelve */
  background: linear-gradient(
    90deg,
    #0f3c4c 0%,
    #0d6b80 40%,
    #1a7f91 70%,
    rgba(26, 127, 145, 0) 100%
  );

  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;

  /* Suaviza el final para efecto fade */
  -webkit-mask-image: linear-gradient(90deg, black 92%, transparent 100%);
  mask-image: linear-gradient(90deg, black 92%, transparent 100%);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-top: -63px;                   /* elimina margen superior */
    overflow: hidden;
}

  .eco-img {
    max-width: 680px; /* reduce un poco el ancho */
    margin-top: -1rem; /* acerca la imagen a los textos */
    margin-bottom: -1rem;
  }

/* Imagen central */
#ecosystem img {
  object-fit: contain;
}
/* Responsividad */
@media (max-width: 768px) {
  .ecosystem-banner {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  #ecosystem img {
    width: 300px !important;
  }
}
